<form #signIn="ngForm" (ngSubmit)="onSubmit(signIn)" class="sign-in">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput name="email" type="email" ngModel email required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Secret password</mat-label>
    <input matInput name="password" ngModel type="password">
  </mat-form-field>
  <mat-form-field *ngIf="isFirstSignInAttempt">
    <mat-label>Verification code</mat-label>
    <input matInput ngModel name="code" placeholder="Verification code" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Sign in</button>
</form>
